Algoritmos[[:space:]]de[[:space:]]aprendizagem[[:space:]]máquina/projects/Objetivo[[:space:]]2/Consumos[[:space:]]Domesticos[[:space:]]part[[:space:]]7.csv filter=lfs diff=lfs merge=lfs -text
Algoritmos[[:space:]]de[[:space:]]aprendizagem[[:space:]]máquina/projects/Objetivo[[:space:]]2/Consumos[[:space:]]Domesticos[[:space:]]part[[:space:]]8.csv filter=lfs diff=lfs merge=lfs -text
Algoritmos[[:space:]]de[[:space:]]aprendizagem[[:space:]]máquina/projects/Objetivo[[:space:]]2/Consumos[[:space:]]Domesticos[[:space:]]part[[:space:]]9.csv filter=lfs diff=lfs merge=lfs -text
Algoritmos[[:space:]]de[[:space:]]aprendizagem[[:space:]]máquina/projects/Objetivo[[:space:]]2/Consumos[[:space:]]Domesticos[[:space:]]part[[:space:]]10.csv filter=lfs diff=lfs merge=lfs -text
